#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1300; /* ensure it's above everything else */
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    position: relative; /* no longer absolute */
    z-index: 1301; /* above background */
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Let MUI Card handle background */
  }
